html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  width: 500px;
  height: fit-content;
  text-align: center;
  margin: auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#dropZone {
  border: 2px dashed #007bff;
  padding: 50px; /* 높이 증가 */
  margin-top: 10px;
  background: #f0f8ff;
  cursor: pointer;
}

#dropZone.active {
  background: #d0e7ff;
}

#resetUpload {
  background: none;
  margin-top: 0px;
  font-size: 14px;
}

#resetUpload:hover {
  text-decoration: underline;
}

#downloadExcel {
  background: #03ac48;
  color: white;
}

.hidden {
  display: none;
}

#fileList {
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 5px;
}
a {
  text-decoration: none;
}

#guide {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#guide:hover {
  background-color: #464646;
}

.wrapper-guide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-guide {
  background-color: #d0e7ff;
  width: 700px;
  height: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box-guide {
  width: 100%;
}

.box-guide > img {
  width: 100%;
}

.title-guide {
  margin-bottom: 30px;
  text-align: center;
  color: #016de0;
}
